class PathManager:
    path_dataset = '/path/to/dataset/'

    #####################################################
    #  Similarity Tables
    #####################################################
    # 2D
    path_distance_frame0_path_2d_train = path_dataset + 'similarity_table/2d/distance_frame0_train.npy'
    path_distance_frame0_path_2d_valtest = path_dataset + 'similarity_table/2d/distance_frame0_valtest.npy'
    # 3D
    path_distance_frame0_path_3d_train = path_dataset + 'similarity_table/3d/distance_frame0_train.npy'
    path_distance_frame0_path_3d_valtest = path_dataset + 'similarity_table/3d/distance_frame0_valtest.npy'
    # Procrustes
    path_distance_frame0_path_procrustes_train = path_dataset + 'similarity_table/procrustes/train_procrustes_distances_frame_0.npy'
    path_distance_frame0_path_procrustes_valtest = path_dataset + 'similarity_table/procrustes/valtest_procrustes_distances_frame_0.npy'
    # Hamming
    path_distance_frame0_path_pb3_train = path_dataset + 'similarity_table/hamming/distance_frame0_train.npy'
    path_distance_frame0_path_pb3_valtest = path_dataset + 'similarity_table/hamming/distance_frame0_valtest.npy'
    path_nearfarsplit_frame0_path_pb3_train = path_dataset + 'similarity_table/hamming/near_far_train_frame0.npy'
    path_nearfarsplit_frame0_path_pb3_val = path_dataset + 'similarity_table/hamming/near_far_val_frame0.npy'

    #####################################################
    #  Data Split
    #####################################################
    path_dataset_train_txt = path_dataset + 'split/kinetics_frames_train.txt'
    path_dataset_valtest_txt = path_dataset + 'split/kinetics_frames_valtest.txt'

    #####################################################
    #  Images
    #####################################################
    path_image_root = path_dataset+'images_single/'

    #####################################################
    # VGG Convolutional Weights
    #####################################################
    path_vgg_simple_weights = path_dataset + "/vggs_conv_weights/thinslicing_preconv_randfc.pth"

